.nav {
  grid-area: n;
  background-color: rgb(95, 110, 110);
  margin-right: 30px;
  padding-top: 30px;
  padding-left: 0;
  font-size: 35px;
  color: white;
}

.item {
  margin-bottom: 15px;
  margin-left: 40px;
}

.link {
  color: white;
  text-decoration: none;
  text-transform: none;
}

.active {
  color: rgba(255, 255, 255, 0.452);
  text-decoration: none;
  text-transform: none;
}

.itemFriends{
  margin-top: 100px;
  margin-left: 0;
}

.itemFriends span {
  display: block;
  text-align: center;
  width: 100%;
  font-size: 40px;
}